{% extends 'base.html' %}

{% block navbar %}
    <p class="navbar-text navbar-left">
        <i class="glyphicon glyphicon-user"></i>  {{ profile.username }}
    </p>
    <p class="navbar-text navbar-right">
        <a href="#"><i class="glyphicon glyphicon-user"></i>{{ user.username }}</a>
    </p>
{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <form action="post/" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2 fieldWrapper form-group">
                {{ form.text }}
            </div>
            <button type="submit" class="btn btn-primary"><i class=""></i>Post</button>
        </form>
    </div>

    <div class="col-md-12 column">
        {% for post in posts %}
            <div class="well">
                {{ post.text }}
                <p></p>
                <p>
                  <i class="icon-user"></i><a href="#">{{ user }}</a>
                  | {{ post.created_date | date:"d/m/Y"}}
                </p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}